
.eventImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  :global(.ant-image-img) {
    width: auto;
    height: auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    min-width: 200px;
    min-height: 200px;
  }
}

.placeholderContainer {
  width: 100%;
  height: 400px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.placeholderIcon {
  font-size: 64px;
}

