.introSection {
  text-align: center;
}

.backgroundImage {
  max-height: 350px;
  max-width: 100%;
  object-fit: contain;
  width: auto;
  height: 100%;
  margin-bottom: -24px;
  z-index: 0;
  position: relative;
}

.content{
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;  
  padding: 32px;
  margin-top: 24px;
  @media (max-width: $breakpoint-sm) {
    padding: 16px 0 0;
    gap: 16px;
  }
}

.headline {
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.2;
  @media (max-width: $breakpoint-sm) {
    font-size: 28px;
  }
}

.searchForm {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}
