.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  
  :global(.ant-image) {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  :global(.ant-image-img) {
    object-fit: contain;
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
    min-width: 75px !important;
    min-height: 100px !important;
  }
}

.placeholderContainer {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.placeholderIcon {
  font-size: 48px;
}

.contentSpace {
  width: 100%;
}

.title {
  margin: 0;
}

.summaryText {
  display: block;
}

.viewDetailsButtonWrapper {
  display: flex;
  justify-content: flex-end;
}