* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  background-color: #F5F8FA;
  color: #1a1a1a;
  a{
    color: inherit;
  }
}

:root {
--foreground-rgb: 0, 0, 0;
--background-start-rgb: 214, 219, 220;
--background-end-rgb: 255, 255, 255;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding-x;
}

.default-padding-y {
  padding: $default-padding-y 0;
  @media (max-width: $breakpoint-xs) {
    padding: $default-padding-y-mobile 0;
  }
}

// Utility classes for colors
// Background colors
.bg-white {
  background-color: $white-color;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-dust-red {
  background-color: $dust-red;
}

.bg-volcano {
  background-color: $volcano;
}

.bg-sunset-orange {
  background-color: $sunset-orange;
}

.bg-lime {
  background-color: $lime;
}

.bg-calendula-gold {
  background-color: $calendula-gold;
}

.bg-sunrise-yellow {
  background-color: $sunrise-yellow;
}

.bg-polar-green {
  background-color: $polar-green;
}

.bg-cyan {
  background-color: $cyan;
}

.bg-daybreak-blue {
  background-color: $daybreak-blue;
}

.bg-golden-purple {
  background-color: $golden-purple;
}

.bg-french-magenta {
  background-color: $french-magenta;
}

.bg-grey {
  background-color: $grey;
}

// Text colors
.text-white {
  color: $white-color;
}

.text-primary {
  color: $primary-color;
}

.text-dust-red {
  color: $dust-red;
}

.text-volcano {
  color: $volcano;
}

.text-sunset-orange {
  color: $sunset-orange;
}

.text-lime {
  color: $lime;
}

.text-calendula-gold {
  color: $calendula-gold;
}

.text-sunrise-yellow {
  color: $sunrise-yellow;
}

.text-polar-green {
  color: $polar-green;
}

.text-cyan {
  color: $cyan;
}

.text-daybreak-blue {
  color: $daybreak-blue;
}

.text-golden-purple {
  color: $golden-purple;
}

.text-french-magenta {
  color: $french-magenta;
}

.text-grey {
  color: $grey;
}

// Border colors
.border-white {
  border-color: $white-color;
}

.border-primary {
  border-color: $primary-color;
}

.border-dust-red {
  border-color: $dust-red;
}

.border-volcano {
  border-color: $volcano;
}

.border-sunset-orange {
  border-color: $sunset-orange;
}

.border-lime {
  border-color: $lime;
}

.border-calendula-gold {
  border-color: $calendula-gold;
}

.border-sunrise-yellow {
  border-color: $sunrise-yellow;
}

.border-polar-green {
  border-color: $polar-green;
}

.border-cyan {
  border-color: $cyan;
}

.border-daybreak-blue {
  border-color: $daybreak-blue;
}

.border-golden-purple {
  border-color: $golden-purple;
}

.border-french-magenta {
  border-color: $french-magenta;
}

.border-grey {
  border-color: $grey;
}