$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;

$container-max-width: 1200px;
$container-padding-x: 24px;

$default-padding-y: 48px;
$default-padding-y-mobile: 24px;

$header-height: 64px;
$header-padding-x: 24px;
$header-gap: 16px;

$logo-font-size: 20px;
$logo-font-weight: bold;

$white-color: #fafafa;
$primary-color: #262626;

// Dust Red
$dust-red: #cf1322;

//Volcano
$volcano: #d4380d;

//Sunset Orange
$sunset-orange: #d46b08;

//Lime
$lime: #7cb305;

//Calendula Gold
$calendula-gold: #d48806;

//Sunrise Yellow
$sunrise-yellow: #ad8b00;

//Polar Green
$polar-green: #389e0d;

//Cyan
$cyan: #08979c;

//Daybreak Blue
$daybreak-blue: #0958d9;

//Golden Purple
$golden-purple: #531dab;

//French Magenta
$french-magenta: #c41d7f;

//Grey
$grey: #434343;