.container {
  width: 100%;
  margin-top: 16px;
}

.dateGroup {
  width: 100%;
  padding-bottom: 32px;
  @media (max-width: $breakpoint-sm) {
    padding-bottom: 16px;
  }
}

.eventsSpace {
  width: 100%;
}

