.eventsGroupHeader{
    margin: 0 0 32px 32px;
    // &:before{
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     content: '';
    //     display: block;
    //     width: 100%;
    //     height: 1px;
    //     background-color: #bfbfbf;
    // }
}